<header>
    <nav class="navbar bg-info" id="headerBar">
        <ul class="mx-auto nav nav-pills">
            <li class="nav-item">
                <a class="nav-link navbar-brand text-white" (click)="activateLink($event);" routerLink="/company" id='companyId'>Компании</a>
            </li>
            <li class="nav-item">
                <a class="nav-link navbar-brand text-white" (click)="activateLink($event);" routerLink="/employee" id='employeeId'>Работници</a>
            </li>
        </ul>
    </nav>
</header>