<div class="h-100">
    <div class="w-75 m-auto pt-5 messageSize">
        Здравйте заповядайте в сайта на компания <strong>"Агеницяита"</strong> ние сме компания която помага на работници да си намерят работа или компании да си намерят работници.
        Ако имате нужда от работа или работници, не зависимо колко голяма е вашата компания и независмо в каква сефера си търсите работа или работници, може да ползвате нашите HR услуги
        за целта трябва само да се регистриате или да се свържете с нас чрез <strong>Телефон за връзка с нас</strong> изписан най-долу на екрана ви.
        Ако искате да се регистирате в нашата система изберете бутона <strong>Компании</strong> ако сте компания, ако сте работник моля изберете <strong>Работници</strong>.
    </div>
    
    <img class="w-50 pt-5" src="assets/images/company.jpg" />
    <img class="w-50 pt-5" src="assets/images/worker.jpg" />
    
    <div class="h-25"> 
        <a class="btn btn-primary text-white float-left mt-3 mb-5 companyText" routerLink="/company">Компании</a>
        <a class="btn btn-primary text-white float-right mt-3 mb-5 employeeText" routerLink="/employee">Работници</a>
    </div>
</div>

<app-footer></app-footer>