h4 {
    display: inline;
}

#phoneText {
    margin-left: 180px;
}

.textDanger {
    margin-left: 370px;
}

#companyText {
    margin-left: 168px;
}

#emailText {
    margin-left: 302px;
}

#cityText {
    margin-left: 6px;
}

#addCity {
    margin-left: 5px;
}

#queryButton {
    margin-left: 39%;
}

#dropdownSearchCityCompany {
    position: absolute;
    margin-top: 30px;
	width:272px;
    z-index: 1;
	max-height: 210px;
    left: 44.9%;
    overflow-y: auto;
    background-color: #292A2D;
}